<div>
	<table ng-controller="controladorListaItems" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Modelo</th>
				<th>Marca</th>
				<th>Fecha de Fabricación</th>
				<th>Sintoma</th>
				<th>Cliente</th>
				<th>Ticket</th>
				<th>Fecha de Recepción</th>
				<th>Serial</th>
				<th>Estatus</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in itemsLista">
			  <td>{{item.modelo}}</td>
			  <td>{{item.marca}}</td>
			  <td>{{item.fechaFabricacion}}</td>
			  <td>{{item.sintoma}}</td>
			  <td>{{item.cliente}}</td>
			  <td>{{item.ticket}}</td>
			  <td>{{item.fechaRecepcion}}</td>
			  <td>{{item.serial}}</td>
			  <td>{{item.estatus}}</td>
			  <td><button type="button" class="btn btn-success" ng-click="actualizarItem(item.idInterno)">Actualizar</button></td>
			</tr>
		</tbody>
	</table>
</div>